.navbar{
    background-color: rgb(2,0,105);
    padding: 30px;
    font-size: 25px;
}

.navbar a{
    color: white;
}

.navbar a:hover{
    color: rgb(96, 96, 235);
    transition-duration: 200;
}

.navbar-brand{
    font-size: 22px;
    font-weight: 500;
    margin-right: 50px;
}

.nav-item a{
    font-size: 18px;
    padding: 10px;
}

.logout{
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.logout:hover{
    color: rgb(96, 96, 235);
    transition-duration: 1000;
}