.login{
    height: 100vh;
}

.header h2{
    font-weight: 700;
}

.header p{
    font-size: 14px;
    line-height: 21px;
    color: #737373;
}

.login-form label{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-top: 20px;
}

.login-form input{
    background-color: white;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    border-radius: 8px;
}

.login-form a{
    text-decoration: none;
    color: rgb(194, 45, 45);
    margin: 20px 0;
    display: block;
}

.login-form .sign-in{
    width: 100%;
    height: 42px;
    background-color: rgb(2,0,105);
    border-radius: 8px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    border: none;
}

.sign-up{
    display: block;
    text-align: center;
}

.login-form span a{
    color: black;
    font-weight: 600;
}



